[Desktop Entry]
Version=1.0
Type=Application
Name=YoutubePlay
Comment=Start local video player
Exec=/home/johnniebt/YoutubePlay/start.sh
Icon=/home/johnniebt/YoutubePlay/icon.png
Terminal=true
Categories=Utility;

